.eventHolder {
  /* background-color: red;	 */
  margin: auto;
  /* border-right: 2px solid red; */
}
.overHolder {
  margin: auto;
  font-size: 24px;
}

.comments {
  /* background-color: rgba(0, 234, 255, 0); */
  font-size: 20px;

  text-align: left;
  margin: 0;
  color: white;
  /* background-color: rgb(135, 126, 209); */
}

.spEffect {
  border-bottom: 1px solid rgba(255, 255, 255, 0.705);
  padding: 15px;
  color: rgb(204, 204, 204);
}

.overEnd {
  background-color: white;
  color: black;
}
