* {
  box-sizing: border-box;
}

body {
  background-color: rgb(31, 30, 30);
  /* background-color: #fff; */
  font-family: "Red Hat Mono", monospace;

  color: white;
}
.heading {
  color: #4a64dbfb;
  font-size: 48px;
  font-weight: bold;
}

.main {
  background-color: #252a34;
  /* position: fixed;
    top: 50vh;
    left: 35px;
    margin: auto;
    align-items: center; */
  width: 95%;
  /* height: 1000px; */
  margin: 30px auto;
  padding: 30px;
  border-radius: 5px;
  /* box-shadow: 0px 10px 5px 5px grey; */
}

.aligner {
  text-align: center;
}

.scoreboard {
  padding: 25px;
}
.controls {
  position: fixed;
  bottom: 270px;
  right: -100px;
  background-color: rgba(11, 9, 105, 0.767);
  padding: 10px;
  z-index: 1;
}
.controls:hover {
  right: 0;
  transition: 0.5s;
}
i {
  font-size: 20px;
}

hr {
  height: 2px;
  border-width: 2px;
  color: gray;
  background-color: rgb(251, 251, 251);
}

Button {
  margin: 8px;
  margin-bottom: 8px;
}
